<!DOCTYPE html>
<html>
<body bgcolor="khaki">

<form>
<h3 style="color:white; font-size:50px; background-color:olive"><center>Are you...</center></h3>
<center>
<label class="container">New Client
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>
<br>
<br>
<label class="container">Old Client
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
<br>
<br>
<label>ID number</label>
  <input 
    type="text" 
    id="ClientID"
    name="ClientID" 
    size="30" 
    placeholder="Please enter your ID number"
  /><br><br>
<br><br>
 <input 
    type="submit" 
    id="inConfirm" 
    name="inConfirm" 
    style="color: red; background-color: lightgrey" 
    value="Confirm"
  />
</center>
</form>
</body>
</html>