<!DOCTYPE html>
<html>
<body bgcolor="khaki">

<form>
  <center>
<h2 style="color:white; font-size:50px; background-color:olive">Delivery</h2>
<label class="container">For Delivery
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
  <br>
  <br>
<label>Address:</label>
  <input 
    type="text" 
    id="ClientAddress"
    name="ClientAddress" 
    size="30" 
    placeholder="Enter your Address"
  />
  </label>
  <br>
  <br>
<label class="container">For Pick-up
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
  <br>
  <br>
 <input 
    type="submit" 
    id="inConfirm" 
    name="inConfirm" 
    style="color: red; background-color: lightgrey" 
    value="Confirm"
  />
  <a href="{% url 'payment' %}"target="_top">Next</a>
</center>
</form>
</body>
</html>