<!DOCTYPE html>
<html>
<body bgcolor="khaki">
<center>
<form>
<h3 style="color:white; font-size:50px; background-color:olive"><center>Equipments</center></h3>
<center>
<label class="container">Washing Machine
  <input type="checkbox" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>
<br>
<br>
<label class="container">Dryer
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<br>
<br>
<label class="container">Washing Machine with Dryer
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<br>
<br>
<label class="container">Automatic Washing Machine
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<br>
<br>
<label class="container">Extension
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
 <br><br><br><br>
 <input 
    type="submit" 
    id="inConfirm" 
    name="inConfirm" 
    style="color: red; background-color: lightgrey" 
    value="Confirm"
  />
  <a href="{% url 'delivery' %}"target="_top">Next</a>
</center>
</form>
</body>
</html>