<html>

<body bgcolor= "khaki">
<title>Daily Plans</title>
<h1 style="color:white; font-size:50px; background-color:olive"> <center>Daily Plans</center> </h1>
<h2 style="color:black; font-size:15px; font-style:oblique; font-family:sans-serif; "> <center>todays must do...</center> </h2>
<br>
<h3 style="color:black; font-size:25px; ">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<center>-TASK-</center></h3>

<form class ="form" action="" method="post">
	{% csrf_token %}
	<center>
	<center>
  <input type="date" id="date" name="date"> </center>
  <br>
	<input bold type="text" id="Task1" name="Task1" placeholder= "1.Enter your Task">

	<input bold type="text" id="Task2" name="Task2" placeholder= "2.Enter your Task">

	<input bold type="text" id="Task3" name="Task3" placeholder= "3.Enter your Task">

	<input bold type="text" id="Task4" name="Task4" placeholder= "4.Enter your Task">

	<input bold type="text" id="Task5" name="Task5" placeholder= "5.Enter your Task">
<br>
<br>
<input type="submit" value="submit" name="done" id="done">
<br>
<br>
</form>
</center>
</center>
</body>
</html>